<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>login</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/295/295128.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <div class="container-wrapper">

            <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>login</h3>
        
            <form method="post" action="/login">
            {{#if loginErr}}
            <p class="error">{{loginErr}}</p>

            {{/if}}
                
                <div class="item"><input class="input" name = 'username' type="text" placeholder="Username" required></div> 
                <div class="item"><input class="input" name="password" type="password" placeholder="Password" required> </div>
                

                <div class="item submit"><button type="submit">Submit</button></div>
            </form>
          
         
           
</body>

</html>